@charset "utf-8";
/* CSS Document */

.pattern-dark{
	background-color:#3e373e;
	background-image:url(../images/pattern_b10.png);
	color:#FFF;}
	
.center-block img{
	margin:0 auto}
	
.errore{
	margin-top:10%;}
