{% extends 'base.twig' %}

{% block script %}
{# 	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN426l3YE8LNpIgxU8wIn7W98gWZkUrwg&v=3.exp&libraries=places"></script>#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN426l3YE8LNpIgxU8wIn7W98gWZkUrwg&sensor=false&libraries=places"></script>
	<script type="text/javascript" src="./../resources/js/client.js"></script>
{% endblock %}

{% block style %}
	<script type="text/javascript" src="./../resources/css/client.css"></script>
{% endblock %}

{% block subtitle %}- {{client.organization}}{% endblock %}

{% block content %}
	<h1><i></i>#{{client.clientId}}</i></h1>
	<h1>{{client.organization}}</h1>
	<h1>{{client.description}}</h1>
	
	<button id="btn_addContact">Add contact</button>
	
	<div id="newContact_dialog" style="display: none;" >
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-lg-5 control-label">Referent Name:</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" id="txb_referent" name="referent" placeholder="Referent name"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-5 control-label">Phone:</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" id="txb_phone" name="phone" placeholder="Phone"></textarea>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-5 control-label">Fax:</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="txb_fax" name="fax" placeholder="Fax"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-5 control-label">Address:</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="txb_address" name="address" placeholder="Address"/>
			</div>
		</div>
		
		<div>
			<button style="margin-left: 35.5%;" type="submit" class="btn btn-primary ">Create Client</button>
			<button type="reset" class="btn btn-danger">Reset</button>
		</div>
	</form>
</div>
{% endblock %}