<html>
<head>
	<link rel="stylesheet" type="text/css" href="./../resources/css/error404.css" />
	<title>Adminwork - 404 Page not found</title>
</head>	


<body>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pattern-dark">
		<div class="center-block errore">
			<img src="./../resources/images/404.png" class="img-responsive" />
		</div>
		<button onclick="document.location.href='./../index.php';"/>Turn back</button> 
	</div>
 	
</body>
</html>