{% extends 'base.twig' %} 

{% block subtitle %}- 404 Page not found{%endblock %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="./../resources/css/error404.css" />
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pattern-dark">
	<div class="center-block errore">
		<img src="./../resources/images/404.png" class="img-responsive" />
	</div>
</div>
{% endblock %}
