<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento senza titolo</title>

<link rel="stylesheet" type="text/css" href="./../resources/css/login.css"/>

</head>

<body>

<div class="log-area">
	
	<div class="tit-area">Login</div>
    <div class="data-area">
    	&nbsp;&nbsp;Email <input id="user" name="" type="email" placeholder="Your email..." /><br /><br />
        Password <input name="" type="password" value="" placeholder="Your password..."/>
        <input id="btn" name="Login" type="button" value="Login" />
    </div>

</div>

</body>
</html>
