{% extends 'base.twig' %}

{% block script %}	
	<script type="text/javascript" src="validate.min.js"></script>
	<script type="text/javascript" src="/resources/js/users.js"></script>
{% endblock %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="/resources/css/pwdwidget.css"/>
{% endblock %}

{% block subtitle %}- Users{% endblock %}

{% block content %}
	<div>
		<button id="btn_newUser">New User</button>
	</div>
	
	<div id="newUser_dialog" style="display: none;" >
	<form id="createUserForm" action="">
		<table class="table">
			<tr>
				<td><label for="txb_name">Name:</label></td>
				<td><input type="text" id="txb_name" name="name" /></td>
			</tr>
			<tr>
				<td><label for="txb_surname">Surname:</label></td>
				<td><input type="text" id="txb_surname" name="surname"/></td>
			</tr>
			<tr>
				<td><label for="txb_pwd">Password:</label></td>
				<td><input type="password" id="txb_pwd" name="pwd"/></div></td>
			</tr>
			<tr>
				<td><label for="txb_pwd2">Repeat password:</label></td>
				<td><input type="password" id="txb_pwd2" name="pwd2"/></td>
			</tr>
			<tr>
				<td><label for="txb_email">Email:</label></td>
				<td><input type="email" id="txb_email" name="email"/></td>
			</tr>
			<tr>
				<td><label for="thumbnail">Thumbnail:</label></td>
				<td><input type="file" id="thumbnail" accept="image/*"></td>
			</tr>
			<tr>
				<td><label for="sel_role">Role:</label></td>
				<td><select id="sel_role">
						<option selected="selected" value="user">User</option>
						<option value="admin">Admin</option>
						<option value="superadmin">Super Admin</option>				
					</select></td>
			</tr>
			<tr>
				<td><label for="chk_isActiveUser">Is active user:</label></td>
				<td><input checked="checked" type="checkbox" id="chk_isActiveUser"></td>
			</tr>
		</table>
	</form>
	</div>
{% endblock %}